body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
  color: rgb(51, 51, 51);
  width: 100%;
}

article {
  width: 70%;
  display: inline-block;
}

img {
  width: 450px;
}

aside {
  display: inline-block;
  width: 29%;
  position: absolute;
}
