:root {
  --clr-nav-link: rgb(0, 153, 0);
  --clr-black: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
}

.header {
  border-bottom:2px solid rgb(0,0,0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header .nav .nav-items {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.header .nav .nav-items .nav-item .nav-link {
  color: rgb(0, 153, 0);
  text-decoration: none;
}
