@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";

.social-items {
  list-style-type: none;
}

.social-item {
  display: inline-block;
  margin: 0 20px;
}

.social-link {
  font-size: 20px;
  color: #000;
  border-radius: 50%;
}

.social-link i {
  background: rgb(218, 218, 218);
  padding: 20px;
  border-radius: 50%;
}
