* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container img {
  width: 100px;
  height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.3);
}

.container img:nth-child(2) {
  width: 600px;
  height: 400px;
}
